@import "variables";
@import "maps";
@import "extend";
@import "mixin";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
/*Pagina Principal index.html*/
.fondo{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imagen/alien-7015541_19202.jpg);
    .titulo{
        color: $color;
        padding: 10rem 10rem 10rem 9rem;
        font-size: 5rem;
        font-family: $title-font
    }
    
}
/*Navegador Principal*/

.nombre{
    color: $color2;
    text-align: center;
    justify-content: center;
    font-family: $title-font
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: $color;
}

.navbar-light .navbar-nav .nav-link {
    color: $color;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: $color;
}
.navbar-light .navbar-nav {
    .nav-link{
       &:hover {
            color: $color;
            background-color: $color2;
            border-color: $color2;
        }
    }
}
.bg-color {
    background-color: rgb(0, 0, 0)!important;
}
.dropdown-menu {
    font-size: 1rem;
    color: $color;
    text-align: left;
    list-style: none;
    background-color: rgb(0, 0, 0);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: $color;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.btn-primary{
    font-family: $title-font;
    background-color: green;
    border-radius: 30px;
    border-color: $color;
   
}
.btn-primary{
    &:hover {
        transform: translate(5px, 9px);
        transition: all 0.8s;
        color: $color;
        background-color: $color2;
        border-color: $color2;
        font-family: $title-font;
    } 
}
.navbar-toggler {
    background-color: $color2;
}
/*Diseño del footer*/
.footer{
    width: 100%;
    background-color: #000000;
    color:$color;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 80px;
    .grupo1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        padding: 10px 0px;
        .figure{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .alien{
                width: 250px;
            }
        }
        .caja{
            .sobre{
                margin-bottom: 25px;
                font-size: 20px;
                text-align: center;
            }
            .info{
                margin-bottom: 10px;
                text-align: justify;
            }
            .siguenos{
                margin-bottom: 25px;
                font-size: 20px;
                text-align: center;
            }
            .redes{
                a{
                    
                    font-size: 25px;
                    display: inline-block;
                    text-decoration: none;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    color: $color;
                    margin-left: 20px;
                    background-color:rgb(15, 15, 15);
                    text-align: center;
                    transition: all 300ms ease;
                    border-radius: 10px;
                    &:hover{
                        color: $color2;
                    }
                }
            }
        }
    }
    .grupo-2{
        background-color:rgb(15, 15, 15) ;
        text-align: center;
        color: $color;
        small{
        font-size: 15px;
    }
    
}

@media screen and (max-width:800px){
    .grupo1{
        width: 90%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding: 35px 0px;
        }
    }
}



/*PAGINA PRINCIPAL BITCOIN.HTML*/
.fondo2{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imagen/F1000140872.jpg);
    .titulo2{
        color: $titu;
        text-align: center;

    }
    .subtitulo{
        color: $subtitu;
        text-align: center;
        padding-bottom: 10px;
    }
    .historia{
        color: $color;
        text-align: left;
        padding: 10px;
    }
    p{
        @include text
    }
    .imagenes{
        display: flex;
        .img{
           flex: 30%;
            .btc{
                max-width: 100%;
                padding: 10px;
                border-radius: 100px;
                &:hover {
                    @extend .hover;
                }
            }
        }
    }
    
}
@media (max-width: 768px){
    .imagenes{
        flex-direction: column;
    }
}



/*Pagina Principal Contacto.html*/
.fondo4{
    background-size:cover;
    color: $color;
    background-repeat: no-repeat;
    background-image: url(../imagen/fantasy-4523944_1920.jpg);
    font-family: $title-font;
    .contac{
        .contac_info{
            font-size: 25px;
            text-align: center;
            color: $color2;
            padding-top: 30px;
           
        }
    }
}
.botones{
    display: flex;
    margin: 40px;
    .enviar{
        padding-right: 40px;
    }
}
.btn-green {
    color: $color;
    background-color: rgb(0, 0, 0);
    border-color: #000000;
    
    &:hover {
        color: $color;
        background-color: $color2;
        border-color: $color2;
    }

}
.btn-primary{
    font-family: $title-font;
    background-color: green;
    border-radius: 30px;
    
    &:hover {
        transform: translate(5px, 9px);
        transition: all 0.8s;
        color: $color;
        background-color: $color2;
        border-color: $color2;
        font-family: $title-font;
    }
   
}
/*PAGINA PRINCIPAL Ethereum.HTML*/
.fondo3{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imagen/pexels-jievani-81856272.jpg);
    .titulo3{
        color: $titu;
        text-align: center;
    }
    .subtitulo1{
        color: $subtitu;
        text-align: center;
        padding-bottom: 10px;
    }
    .historia2{
        color: $color;
        text-align: left;
        padding: 10px;
    }
    p{
        @include text
    }
    .imagenes{
        display: flex;
        .img{
           flex: 30%;
            .eth{
                max-width: 100%;
                padding: 10px;
                border-radius: 100px;
                &:hover {
                    @extend .hover;
                }
            
            }
        }
    }
        
    
}
